<p id="notice"><%= notice %></p>
<%= search_form_for @q do |t| %>
  <%= t.label :code_eq, "Código do Token" %>
  <%= t.search_field :code_eq %>
  <%= t.submit "Procurar Token" %>
<%end%>

  <h3>Tokens Disponíveis no dia </h3>  
 <table>
  <thead>
    <tr>
      <th>Código</th>
      <th>Usuário</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @tk.each do |t| %>
      <tr>
        <% if t.status?%>
          <td><%= t.code %></td>
          <td><%= User.find(t.user_id).name %></td>
          <td>Disponível</td>
          <td><%= link_to 'Validar Token', edit_token_path(t) %></td>
        <%end %>
      </tr>
    <%end %>
  </tbody>
</table>
<br>
<h3>Histórico de Tokens Validados </h3>  
<%if @adminTokens.empty?%>
  <h4>Nenhum token validado</h4>  
<%else%>
  <table>
    <thead>
      <tr>
        <th>Código</th>
        <th>Usuário</th>
        <th>Status</th>
        <th>Academia</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @adminTokens.each do |t| %>
        <tr>
          <td><%= t['code'] %></td>
          <td><%= User.find(t['user_id']).name  %></td>
          <td>Utilizado</td>
          <td><%= t['name']%></td>  
        </tr>
      <%end %>
  </tbody>
</table>
<%end%>

