
<%= form_for(token) do |f| %>
<% if token.errors.any? %>
  <div id="error_explanation">
  <h2><%= pluralize(token.errors.count, "error") %> prohibited this token from being saved:</h2>
  <ul>
    <% token.errors.full_messages.each do |message| %>
    <li><%= message %></li>
<% end %>
  </ul>
  </div>
  <% end %>
  <%if current_user.regular?%>
    <div class="actions">
      <%= f.submit "Solicitar token" %>
    </div>
  <%else%>
      <div class="field">
        <%= f.text_field :status, :value => false, :readonly => "readonly", :style => "display:none" %>
        <%= f.text_field :user_id, :readonly => "readonly", :style => "display:none" %>
      </div>
      <div class="field">
        <%= f.label :code, "Código" %>
        <%= f.text_field :code, :readonly => "readonly" %>
      </div>
      <%if !Gym.exists?(user_id: current_user.id) %>
        <h3>O token não pode ser validado, pois o usuário não possui academias cadastradas!</h3>
      <%else%>
          <div class="field">
            <%= f.label :gym_id, "Academia" %>
            <%if current_user.gympass? %>
              <%= f.select :gym_id, Gym.all.select{|t| t.status? }.collect {|x| [x.name, x.id]}, :multiple => true %>
            <%else%>
                <%= f.select :gym_id, Gym.all.select{|t| t.user_id == current_user.id && t.status? }.collect {|x| [x.name, x.id]}, :multiple => true %>
            <%end%>
        <%end%>
        <div class="actions">
          <%= f.submit "Validar token", :id => "validatioButton" %>
          </div>
      <%end%>
  <%end%>
