<p id="notice"><%= notice %></p>
<%= search_form_for @q do |t| %>
  <%= t.label :code_eq, "Código do Token" %>
  <%= t.search_field :code_eq %>
  <%= t.submit "Procurar Token" %>
<%end%>

  <h3>Tokens Disponíveis no dia </h3>  
 <table>
  <thead>
    <tr>
      <th>Código</th>
      <th>Usuário</th>
      <th>Status</th>
      <th>Academia</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @tk.each do |t| %>
      <tr>        
        <td><%= t.code %></td>
        <td><%= User.find(t.user_id).name %></td>
        <% if t.status?%>
          <td>Disponível</td>
          <td><%= link_to 'Validar Token', edit_token_path(t) %></td>
        <%else %>
          <td>Utilizado</td>
        <%end %>
        <td><%= Gym.find(t.gym_id).name %></td>
      </tr>
    <%end %>
  </tbody>
</table>
