<h2>Token do Dia</h2>
<% @tokens_user.each do |t| %>
<% if t.status? %>
  <strong><%=t.code%></strong>
  <h3>Valido até às 23h59 de <%= Date.today.strftime("%d/%m/%Y") %></h3>
<%else%>
<h3>Você já utilizou seu token diário!</h3>
<%end%>
<%end%>

<br>
<h1>Histórico Tokens Utilizados</h1>
<table>
  <thead>
    <tr>
      <th>Código</th>
      <th>Status</th>
      <th>Data</th>
      <th>Academia</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
  <% @tokens_user.each do |token| %>
    <%if !token.status?%>
    <tr>
      <td><%= token.code %></td>
      <%if !token.status?%>
        <td>Utilizado</td>
      <% end %>
      <td><%= token.created_at.strftime("%d/%m/%Y")%></td>            
      <th><%=Gym.find(token.gym_id).name%></th>  
    <%end%>
    </tr>
  <% end %>
  </tbody>
</table>