<p id="notice"><%= notice %></p>

<%if current_user.regular? %>
   <%= render partial: 'regular_user_index', token: @token %>
<%elsif current_user.gympass?%>
  <h2>Validação de Token</h2>
  <%= render partial: 'gympass_index', token: @token %>   
<%else%>
  <h2>Validação de Token</h2>
  <%= render partial: 'admin_index', token: @token %>   
<%end%>

