<script type="text/javascript">
  gymMap();
  sortGyms('userAddress');
</script>

<p id="notice"><%= notice %></p>
<h1>Academias</h1>

<% if @gyms.empty? %>
		<h2>Não há academias cadastradas no momento</h2>
<% else %>
	<div>
		<h3>Ordenar por proximidade </h3>
  		<strong>Endereço</strong>
  		<input type="text" name="location" id="location" placeholder="Rua/Cidade/Estado">
  		<button  onclick="sortGyms('search')">Ordenar</button>
  		<%if user_signed_in?%>
  			<strong>ou</strong>
	  		<select id='userAddress' onchange="sortGyms('userAddress')">
	  			<option selected="selected">Selecione o endereço</option>
	  			<% @userAddresses.each do |address|%>
	  				<option><%=address['street']%>, <%=address['city']%>, <%=address['state']%></option>
	  			<%end%>
	  		</select>
	  		<em>endereços do usuário</em>
	  	<%end%>  				
  </div>
  <br>
	<div style="width:60%; height:300px; float:left;">
	<table id="listGyms" >
	  <thead>
	    <tr>
	      <th>Nome</th>
	      <th>Abertura</th>
	      <th>Fechamento</th>
	      <th>Rua</th>
	      <th>Cidade</th>
	      <th id='distance'>Distância</th> 
	      <th colspan="3"></th>
	    </tr>
	  </thead>
	  <tbody>
	    <% @gyms.each do |gym| %>
	      <tr>
	        <td class='sortnr'><%= gym['name']%></td>
	        <td class='sortnr'><%= (gym['opening_time']).to_s(:time) %></td>
        	<td class='sortnr'><%= (gym['closing_time']).to_s(:time) %></td>
	    	<td class='sortnr'><%= gym['street']%></td>
	    	<td class='sortnr'><%= gym['city']%></td>
	    	<td class='sortnr' id='<%=gym['name']%>'>--</td> 
		  </tr>
		<%end%>
	  </tbody>
	</table>
	</div>
	<br>
<% end %>
<div id="map-canvas" style="width:40%; height:300px; float:left;"></div>
