<!DOCTYPE html>
<html>
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	<title></title>
</head>
<body>
	<p>
		Prezado (a),
		<br>
		O usuario <%=User.find(@gym.user_id).name%> solicita cadastro para a academia <%= @gym.name%>
	</p>
	<p>Para confirmar acesse o link:
	http://localhost:3000/gyms/<%=@gym.id%>/edit
	</p>
	
</body>
</html>