
    <div class="field">
      <div></div>
        <%= a.label :types, "Comercial"  %>    
        <%= a.radio_button :types, 1, :style => "float:left" %>
        <%= a.label :types, "Residencial", :style => "margin-left: 50px"  %>    
        <%= a.radio_button :types, 2 %>    
      </div>          
    </div>

    <div class="field">
      <div>
        <%= a.label :street, "Rua" %>  
      </div>
      <div>
        <%= a.text_field :street %>  
      </div>
    </div>

    <div class="field">
      <div>
        <%= a.label :zip_code, "Cep" %>    
      </div>
      <div>
        <%= a.text_field :zip_code %>    
      </div>
    </div>
    
   <div class="field">
      <div>
        <%= a.label :city, "Cidade" %>  
      </div>
      <div>
        <%= a.text_field :city %>  
      </div>
    </div>

    <div class="field">
      <div>
        <%= a.label :state, "Estado" %>  
      </div>
      <div>
        <%= a.text_field :state %>  
      </div>
    </div>

  <% end %>
