<script type="text/javascript">
  addressMap('gym', 0);

  function formatAddress(){
    var street  = document.getElementById('gym_address_attributes_street').value;
    var city  = document.getElementById('gym_address_attributes_city').value;
    var state  = document.getElementById('gym_address_attributes_state').value;
    var zip_code  = document.getElementById('gym_address_attributes_zip_code').value;
    var address = street +','+city+','+state+','+zip_code;

    geocode(address, 'gym', 0);
  }
</script>

<%@hidden = 'display:none'%>
<%= form_for(gym) do |f| %>
  <% if gym.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gym.errors.count, "error") %> prohibited this gym from being saved:</h2>

      <ul>
      <% gym.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Nome" %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :opening_time, "Abertura" %>
    <%= f.time_select :opening_time %>
  </div>

  <div class="field">
    <%= f.label :closing_time, "Fechamento" %>
    <%= f.time_select :closing_time %>
  </div>
   <br><br>
  <h2>Endereços</h2>
  <em>Informe um endereço ou indique uma localização no mapa</em>
  <br>
    
  <%= f.fields_for :address do |a| %>
    <br>
  <div style="width:40%; height:300px; float:left;" >
     <div class="field">
      <div>
        <%= a.label :street, "Rua" %>  
      </div>
      <div>
        <%= a.text_field :street %>  
      </div>
    </div>

    <div class="field">
      <div>
        <%= a.label :zip_code, "Cep" %>    
      </div>
      <div>
        <%= a.text_field :zip_code %>    
      </div>
    </div>
    
   <div class="field">
      <div>
        <%= a.label :city, "Cidade" %>  
      </div>
      <div>
        <%= a.text_field :city %>  
      </div>
    </div>

    <div class="field">
      <div>
        <%= a.label :state, "Estado" %>  
      </div>
      <div>
        <%= a.text_field :state, :onchange => "formatAddress();"%>  
      </div>
    </div>
    <div class="field">
       <div>
          <%= a.label :latitude, "Latitude" %>  
        </div>
        <div>
          <%= a.text_field :latitude %>  
        </div>
      </div>
       <div class="field">
        <div>
          <%= a.label :longitude, "Longitude" %>  
        </div>
        <div>
          <%= a.text_field :longitude %>  
        </div>
      </div>
    </div>
    <div id="map-canvas" style="width:60%; height:300px; float:left;"></div>
  <br>
  <% end %> 
  <%if current_user.gympass? %>
     <div class="field">
      <h2> <%= f.label :status, "Aprovar?" %> </h2> 
      <%= f.radio_button :status, true, :style => "float:left"%>
    </div>
  <%end%>
  <br><br>
  
  <div class="actions">
    <%= f.submit "Salvar" %>
  </div>
<% end %>
