<p id="notice"><%= notice %></p>

<h1>Academias Administradas</h1>

<%if @gyms.empty? %>
    <h2>Você ainda não possui academias </h2>
<%else%>  
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Abertura</th>
        <th>Fechamento</th>
        <th>Administrador</th>
        <th>Status</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @gyms.each do |gym| %>
        <tr>
          <td><%= gym.name %></td>
          <td><%= (gym.opening_time).to_s(:time) %></td>
          <td><%= (gym.closing_time).to_s(:time) %></td>
          <td><%= User.find(gym.user_id).name%>
          <%if gym.status? %>
            <td>Aprovada<td>
          <%else%>
            <td>Aguardando Aprovação<td>
          <%end%>
          <td><%= link_to 'Exibir', gym %></td>
          <td><%= link_to 'Editar', edit_gym_path(gym) %></td>
          <td><%= link_to 'Deletar', gym, method: :delete, data: { confirm: 'Confirmar?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<%
  end
%>
<br>

<%= button_to 'Cadastrar Nova Academia', new_gym_path, :method => "get" %>
