<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @gym.name %>
</p>

<p>
  <strong>Abertura:</strong>
  <%= (@gym.opening_time).to_s(:time) %>
</p>

<p>
  <strong>Fechamento:</strong>
  <%= (@gym.closing_time).to_s(:time) %>
</p>

<p>
  <strong>Administrador:</strong>
  <%= @gym.user.name %>
</p>
<%= link_to 'Editar', edit_gym_path(@gym) %> |
<%= link_to 'Voltar', gyms_path %>
