// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.menu {
    color: #ff1933 !important; 
    font-size: 20px;
    float: right !important;
    text-decoration:none;
    padding: 15px;
    margin-top: -40px;
}

