<!DOCTYPE html>
<html>
  <head>
    <title>Gympass Technical Challenge - J1.0 - Vivian Falcão</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=geometry" ></script> 
    <script type="text/javascript" src="assets/javascripts/Mapster.js"></script>
    <script type="text/javascript" src="assets/javascripts/map-options.js"></script>    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
			 <a href="../"> <img src="/assets/index.png", width="200px"> </a>
       <div>
          <% if user_signed_in? %>
            <div>
              <%= link_to 'Sair', destroy_user_session_path, method: :delete, :class => "menu" %>
            </div>
            <div>
              <%= link_to "Editar Cadastro", edit_user_registration_path, :class => "menu"%> 
            </div>
            <% if current_user.admin? || current_user.gympass? %>
              <div>
                <%= link_to 'Academias', gyms_path, :class => "menu" %>
              </div>
            <% end %>
              <div>
                <%= link_to 'Tokens', tokens_path, :class => "menu" %>
              </div> 
          <% else %>
            <div>
              <%= link_to "Login", "/users/sign_in", :class => "menu" %>                
            </div>
            <div>
              <%= link_to "Cadastro", "/users/sign_up", :class => "menu" %>                
            </div>
          <% end %>
        </div>      
      <%= yield %>
  </body>
</html>
