<script type="text/javascript">
  x = new Object();
  x= "<%= @count %>";
  addressMap('user', x);

  function formatAddress(){

    var street  = document.getElementById('user_addresses_attributes_'+x+'_street').value;
    var city  = document.getElementById('user_addresses_attributes_'+x+'_city').value;
    var state  = document.getElementById('user_addresses_attributes_'+x+'_state').value;
    var zip_code  = document.getElementById('user_addresses_attributes_'+x+'_zip_code').value;
    var address = street +','+city+','+state+','+zip_code;
    geocode(address, 'user', x);
  }
</script>

<div class="crontol-group nested-fields " >
  <div class="controls" style="width:40%; height:300px; float:left;" >
    <div class="field">  
        <%= f.label :types, "Comercial"  %>    
        <%= f.radio_button :types, 1, :style => "float:left" %>
        <%= f.label :types, "Residencial", :style => "margin-left: 50px"  %>    
        <%= f.radio_button :types, 2 %>    
      <div class="field">
        <%= f.label :street, "Rua" %>  
        <%= f.text_field :street%>    
      </div>
      <div class="field">
        <%= f.label :zip_code, "Cep" %>  
        <%= f.text_field :zip_code %>    
      </div>
      <div class="field">
        <%= f.label :city, "Cidade" %>  
        <%= f.text_field :city %>  
      </div>
      <div class="field">
        <%= f.label :state, "Estado" %>  
        <%= f.text_field :state, :onchange => "formatAddress();"%>  
      </div>
       <div class="field">
        <%= f.label :latitude, "Latitude" %>  
        <%= f.text_field :latitude %>  
      </div>
       <div class="field">
        <%= f.label :longitude, "Longitude" %>  
        <%= f.text_field :longitude %>  
      </div>
      <%= link_to_remove_association "Remover", f%>
    </div>
 </div>
  <div id="map-canvas<%= @count %>" style="width:60%; height:300px; float:left;"></div>
</div>
