<% @hidden='display:none' %>

<h2>Editar Cadastro <%= resource_name.to_s.humanize %></h2>
 
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  
  <div class="field" >
      <%= f.label :name, "Nome" %>
      <%= f.text_field :name %>
  </div>

  <%if current_user.gympass?%>
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, :readonly => "readonly" %>
    </div>
  <%else%>
    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, :onchange => "gympassProfile();" %>
    </div>
  <%end%>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password, "Senha" %> 
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %><i>(leave blank if you don't want to change it)</i>
     
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Senha" %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password, "Senha atual" %> 
    <%= f.password_field :current_password, autocomplete: "off" %>
    <i>(Precisamos da sua senha atual para confirmar a mudança)</i>
  </div>

  <div class="field" >

    <%if current_user.gympass?%>
        <%= f.label :profile, "Gympass"%>    
        <%= f.radio_button :profile, 'gympass' , :readonly => "readonly"%>    
    <%elsif current_user.regular?%>
      <div>
        <%= f.label :profile, "Usuário"%>    
        <%= f.radio_button :profile, 'regular', :style => "float:left", :readonly => "readonly"%>    
    <%else%>
        <%= f.label :profile, "Administrador"%>
        <%= f.radio_button :profile, 'admin', :style => "float:left" %>
      </div>             
    <%end%>
  </div>
   
  <br><br>
  <h2>Endereços</h2>
  <em>Informe um endereço ou indique uma localização no mapa</em>
  <br>
  
<%@count = 0%>

  
    <%= link_to_add_association 'Adicionar endereço', f, :addresses, 
  'data-association-insertion-node' => "#new_address",
  'data-association-insertion-method' => "append" %>
  
  <fieldset id="new_address", style="border:0px;">
      <%= f.fields_for :addresses do |address| %>
        <br>
        <div style="width:100%; height:350px; ">
            <%= render partial: 'address_fields', locals: {f: address} %>  
        </div>        
        <% @count = @count + 1  %>
      <% end %>
  </fieldset>
 
  <div class="actions">
    <%= f.submit "Atualizar" %>
  </div>
 <br>
<%end%>


<h2>Cancelar minha conta</h2>
 <%= button_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Você tem certeza?" }, method: :delete %>

<%= link_to "Voltar", :back %>
