<% @hidden='display:none' %>
<h2>Cadastro</h2>


<%= form_for [resource_name, resource.with_addresses], :url => registration_path(resource_name) do |f| %>
  <%= devise_error_messages! %>

  <div class="field" >
      <%= f.label :name, "Nome" %>
      <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, :onchange => 'gympassProfile();' %>
  </div>

  <div class="field">
    <%= f.label :password, "Senha" %>
    <% if @minimum_password_length %>
    <%= f.password_field :password, autocomplete: "off" %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirmar senha" %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

   <div class="field">
    <div>
        <%= f.label :profile, "Usuário", :style => "margin-right: 0px"  %>    
        <%= f.radio_button :profile, 'regular', :style => "float:left"%>    
        <%= f.label :profile, "Administrador", :style => "margin-left: 30px"  %>
        <%= f.radio_button :profile, 'admin', :style => "float:left" %>
        <%= f.label :profile, "Gympass", :id => "label_profile3", :style => @hidden  %>    
        <%= f.radio_button :profile, 'gympass', :style => @hidden %>    
      </div>             
  </div>
  <br><br>
  <h2>Endereços</h2>
  <em>Informe um endereço ou indique uma localização no mapa</em>
  <br>

  <%= link_to_add_association 'Adicionar endereço', f, :addresses, 
  'data-association-insertion-node' => "#new_address",
  'data-association-insertion-method' => "append"%>
<%@count = 0%>
  <fieldset id="new_address", style="border:0px;">
      <%= f.fields_for :addresses do |address| %>
      <div style="height:350px;">
        <br><br>
        <%= render partial: 'address_fields', locals: {f: address} %>
        <hr>
         <% @count = @count + 1  %>
      </div>
      <% end %>
   
  </fieldset>

  <div class="actions">
    <%= f.submit "Cadastrar-se" %>
  </div>
<% end %>
